bin
include
lib
lib64
src
tmp

*.log
.snap

**/.DS_Store
**/.Trashes
**/.fseventsd
**/.Spotlight-V100
**/.DocumentRevisions-V100
**/.TemporaryItems
**/.Trash*
**/.*.swo

pyvenv.cfg
.lfs
.ztr-directory
*.swp
.ipynb_checkpoints

# Library Files
lib
__pycache__/
*.py[cod]
*.so
.Python

# Xapian DB
docdata.glass
flintlock
iamglass
position.glass
postlist.glass
spelling.glass
synonym.glass
termlist.glass

